<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="block ml-5 mt-5">
      <button mat-raised-button color="primary" (click)="close()">Cerrar menú</button>
    </div>

    <ul class="navbar-nav mr-auto ml-5 mt-10">
        <li class="nav-item" routerLinkActive="active">
            <button mat-raised-button (click)="open('middle-square')">Cuadrados medios</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('congruencial')">Congruencial</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('congruencial-mixto')">Congruencial mixto</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('multiplicativo')">Generador multiplicativo</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('lineal-combinado')">Congruencial lineal combinado</button>
        </li>
        
      </ul>

  </mat-sidenav>

  <mat-sidenav-content>
    
      <div class="block ml-5 mt-5">
        <button mat-raised-button color="primary" (click)="sidenav.open()">Abrir menú</button>
      </div>
      <div class="container">
        <app-middle-square *ngIf="openMiddleSquare"></app-middle-square>
        <app-congruencial *ngIf="openCongruencial"></app-congruencial>
        <app-congruencial-mixto *ngIf="openCongruencialMixto"></app-congruencial-mixto>
        <app-multiplicativo *ngIf="openMultiplicativo"></app-multiplicativo>
        <app-congruencial-lineal-combinado *ngIf="openLinealCombinado"></app-congruencial-lineal-combinado>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
