<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="block ml-5 mt-5">
      <button mat-raised-button color="primary" (click)="close()">Cerrar menú</button>
    </div>

    <ul class="navbar-nav mr-auto ml-5 mt-10">
        <li class="nav-item" routerLinkActive="active">
            <button mat-raised-button (click)="open('middle-square')" class="w-4/5">Cuadrados medios</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('congruencial')" class="w-4/5">Congruencial</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('congruencial-mixto')" class="w-4/5">Congruencial mixto</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('multiplicativo')" class="w-4/5">Generador multiplicativo</button>
        </li>
        <li class="nav-item mt-5" routerLinkActive="active">
          <button mat-raised-button (click)="open('lineal-combinado')" class="w-4/5">Congruencial lineal combinado</button>
        </li>
        
      </ul>

      <div class="max-w-sm rounded overflow-hidden shadow-lg mt-20 absolute" style="bottom: 0;">
        <div class="px-6 py-4">
          <div class="font-bold text-base mb-2">Generador de números random</div>
          <p class="text-gray-700 text-sm mt-5">Abril 2020</p>
        </div>
      </div>

  </mat-sidenav>

  <mat-sidenav-content>
    
      <div class="block ml-5 mt-5">
        <button mat-raised-button color="primary" (click)="sidenav.open()">Abrir menú</button>
      </div>
      <div class="container">
        <app-middle-square *ngIf="openMiddleSquare"></app-middle-square>
        <app-congruencial *ngIf="openCongruencial"></app-congruencial>
        <app-congruencial-mixto *ngIf="openCongruencialMixto"></app-congruencial-mixto>
        <app-multiplicativo *ngIf="openMultiplicativo"></app-multiplicativo>
        <app-congruencial-lineal-combinado *ngIf="openLinealCombinado"></app-congruencial-lineal-combinado>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
