.green{
    border-radius: 5px;
    background-color: #63bb7a59;
}

.red{
    border-radius: 5px;
    background-color: #ff90908f;
}

.test-container{
    border-radius: 5px;
    border: 1px solid #ababab;
}